<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Lista</title>
</head>
<body>
    <h2 class="text-center">Vista de Productos</h2>

    <% if(arrayProductos.lenght === 0) { %>
        <h3>No hay productos</h3>
        <% } else { %>

            <div class="width:50%">
            <table class="table table-striped table-dark">
                <tr class="">
                    <th class="text-center">Titulo</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Foto</th>
                </tr>
                <% arrayProductos.forEach((prodcuto)=> { %>
                    <tr >
                        <td class="text-center"><%= prodcuto.title %></td>
                        <td class="text-center"><%= prodcuto.price %></td>
                        <td class="text-start"> <img style="width: 10%; margin-left: 500px;" src=<%= prodcuto.thumbail %> alt="">  </td>
                        <img src="" alt="">

                    </tr>

               <% }) %>
            </table>
        </div>
       <% } %>
    
</body>
</html>